<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CRUD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="usersController">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form ng-submit="storeUser()">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                        <input type="text" class="form-control" ng-model="name" placeholder="Nome">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <input type="email" class="form-control" ng-model="email" placeholder="Email">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <input type="text" class="form-control" ng-model="telefone" placeholder="Telefone">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-warning btn-lg pull-right">Cadastrar</button>
                </form>
            </div>
            <div class="col-md-4" ng-repeat="error in storeUserResponse.errors">
                <div class="alert alert-danger" role="alert" ng-if="storeUserResponse">{{error}}</div>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="row">
                <div class="panel panel-default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.telefone}}</td>
                                <td>
                                    <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="showUser(user.id)">Editar</button>
                                    <button class="btn btn-danger" ng-click="destroyUser(user.id)">Deletar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                                <input type="text" class="form-control" ng-model="showName" placeholder="Nome">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <input type="email" class="form-control" ng-model="showEmail" placeholder="Email">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                <input type="text" class="form-control" ng-model="showTelefone" placeholder="Telefone">
                            </div>
                            <br/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" ng-click="updateUser(showId)">Salvar alterações</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>
