

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-image: url("../img/bg-cities.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

.table-wrapper{
	padding-top: 50px;
}














